__pycache__/ETC.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/test.cpython-311.pyc
services/.DS_Store
services/__pycache__/ETC.cpython-311.pyc
__pycache__/forms.cpython-311.pyc
old.html
services/__pycache__/scrape_sqm.cpython-311.pyc
.DS_Store
.gitignore
testing/__pycache__/ETC_new.cpython-311.pyc
testing/__pycache__/ETC.cpython-311.pyc
testing/__pycache__/get_counts.cpython-311.pyc
testing/__pycache__/source_counts.cpython-311.pyc
testing/__pycache__/new_ETC.cpython-311.pyc
testing/__pycache__/black_body_plot.cpython-311.pyc
testing/__pycache__/counts.cpython-311.pyc
testing/__pycache__/observation.cpython-311.pyc
