__pycache__/ETC.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/test.cpython-311.pyc
services/.DS_Store
services/__pycache__/ETC.cpython-311.pyc
__pycache__/forms.cpython-311.pyc
old.html
services/__pycache__/scrape_sqm.cpython-311.pyc
