<head>

    <title>Glenlea ETC</title>

    <meta charset="UTF-8">

    <!-- CSS config -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">

</head>

<body>

    <h1>Glenlea Exposure Time Calculator</h1>

    

    


    <section id="input">


        <form id="autofill" name="autofill" action="/autofill" method="POST">

            <label >Select Camera:</label>
            
            <select id="camera_select">
                <option value="custom">Custom</option>
                <option value="asi6200">ASI6200MM</option>
                <option value="asi533">ASI533MM</option>
    
                <input type="submit" value="Autofill"/>
            </select>
    
        </form>
       

        <form id="data" action="/" method="POST">
            
            <div id="camera">

                <h2>Sensor Parameters:</h2>

                Sensor X: <input type="number" name="sen_x" required/> Sensor Y: <input type="number" name="sen_y" required/>
                Pixel size: <input type="number" name="px_size" placeholder="e-6" required/><br>
                Quantum Efficiency: <input type="number" name="q_eff" required/>Read Noise: <input type="number" name="read_noise" required/> 
                Gain: <input type="number" name="gain" required/><br>
                Sensor Offset: <input type="number" name="sen_offset" required/> Dark Noise: <input type="number" name="dark_noise" required/>
                Full Well: <input type="number" name="full_well" required/><br>

            </div>


            <div id="observatory">

                <h2>Observatory Parameters:</h2>

                Telescope Diameter: <input type="number" name="scope_dia" required/>Telescope Focal: <input type="number" name="scope_focal" required/>
                Plate Scale: <input type="number" name="plate_scale" required/><br>

            </div>


            <div id="filters">

                <h2>Filter Parameters:</h2>

                Filter Low: <input type="number" name="filter_low" required/> Filter High: <input type="number" name="filter_high" required/>
                Filter Zero: <input type="number" name="filter_zero" required/><br>

            </div>

            <div id="target">

                <h2>Target Data:</h2>

                Star Distance: <input type="number" name="star_dist" required/> Star Temperature: <input type="number" name="star_temp" required/>
                Star Diameter: <input type="number" name="star_dia" required/><br>

            </div>

            <div id="sky">

                <h2>Sky Parameters:</h2>

                Sky Brightness: <input type="number" name="sky_bright" required/> Seeing Conditions: <input type="number" name="seeing_cond" required/>

            </div>


            <br>
            <input type="submit" value="Calculate"/><input type="reset" value="Reset">
            <br>
        
        </form>
        
        <div id="plot">

            {% if plot_url %}
                <img src = {{plot_url}} alt = "Chart cannot be displayed">
            {% endif %}
        
        </div>


    </section>


    <form id="clear_all" method = "BACK">
        <input type="submit" value="CLEAR ALL">
    </form>
    

</body>



