<head>

    <title>Glenlea ETC</title>

    <meta charset="UTF-8">

    <!-- CSS config -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">

</head>

<body>

    <h1>Glenlea Exposure Time Calculator</h1>

    

    <!-- extend to 'input.html' -->
    {% block content %}
    {% endblock %}


    <!-- <form id="clear_all" method = "BACK">
        <input type="submit" value="CLEAR ALL">
    </form> -->



    <!-- extend to 'output.html' -->
    {% block content1 %}
    {% endblock %}


</body>



