{% extends "index.html" %}
{% block content %}

    <div class="content-section">


        <form method="POST" action="">

            {{ camera_form.csrf_token }}

            {{ camera_form.camera.label }} {{ camera_form.camera }}

            <input type="text" name="input_field" id="input_field">

        <script>

  
            document.getElementById('camera').addEventListener('change', 
            
            function() {
                var selectedOption = this.value;
                document.getElementById('input_field').value = selectedOption;
                


            });
        </script>
        <button type="submit">Submit</button>



        </form>








        <form method="POST" action="">
            {{ in_form.hidden_tag() }}

                

                <span>Dimensions</span>{{ in_form.dim_x(class="form-control form-control-lg") }}<span>x</span>
                {{ in_form.dim_y(class="form-control form-control-lg")}}<br>

                <span>{{ in_form.px_size.label(class="form-control-label") }}</span>
                {{ in_form.px_size(class="form-control form-control-lg") }}<br>
        

                <span>{{ in_form.read_noise.label(class="form-control-label") }}</span>
                {{ in_form.read_noise(class="form-control form-control-lg") }}<br>

                <span>{{ in_form.gain.label(class="form-control-label") }}</span>
                {{ in_form.gain(class="form-control form-control-lg") }}<br>

                <span>{{ in_form.offset.label(class="form-control-label") }}</span>
                {{ in_form.offset(class="form-control form-control-lg") }}<br>

                <span>{{ in_form.dark_noise.label(class="form-control-label") }}</span>
                {{ in_form.dark_noise(class="form-control form-control-lg") }}<br>

                <span>{{ in_form.full_well.label(class="form-control-label") }}</span>
                {{ in_form.full_well(class="form-control form-control-lg") }}<br>
           

                {% if selected_option != ''%}
                <div>
                    <script> 

                        document.getElementById('dim_x').value = {{ array[0] }};
                        document.getElementById('dim_y').value = {{ array[1] }};
                        document.getElementById('px_size').value = {{ array[2] }};
                        
                    </script>
                </div>
                {% endif %}

                {{ in_form.submit(class="btn btn-outline-info") }}
            

        </form>

    </div>

{% endblock content %}
