{% extends "index.html" %}
{% block input %}

    <!-- main -->
    <div class="content-section">

        <!-- input validation error message -->
        {% if not valid %}
            <section style="background-color:maroon;">
                <h3 style="margin-left:25px; color:white;"> {{ error }} </h3>
            </section>
        {% endif %}

        <!-- main form -->
        <form id="input-form" method="POST" action="">
        
            <!-- security tag? -->
            {{ in_form.hidden_tag() }}
            {{ in_form.csrf_token }}          

            <!-- camera section -->
            <section name="camera" class="container">

                <h2 class="block">Camera Parameters</h2> 
        
                <div class="block">
                    <!--form name="camera" method="POST" action=""-->
                        {{ select_form.csrf_token }}{{ select_form.camera }}
                    <!--/form-->
                </div>

                <button type="button" class="collapsible">ⓘ info</button>
                <div class="col-content">
                    <p>
                        Sample Length - determines the length of the sample image; increase the value if it does not fit<br>
                        Sample Width - determines the width of the sample image; increase the value if it does not fit<br> 
                        Pixel Size (μm) -  size of an individual pixel of the camera sensor<br>
                        Quantum Efficiency (%)  -  efficiency of the camera sensor<br>
                        Read Noise (electrons)- measurement... <br>
                        Gain (electrons/ADU)- level... <br>
                        Offset (units) - ... <br>
                        Dark Noise (units) - ... <br>
                    </p>
                </div>

                <div class="spacer-break"></div>

                <div class="block">
                    {% if in_form.sensor_x.errors %}
                    {{ in_form.sensor_x.label(type="autofill", class="myDiv") }}{{ in_form.sensor_x(style="border-color: red;") }}
                     {% else %}
                         {{ in_form.sensor_x.label(type="autofill") }}{{ in_form.sensor_x }}
                     {% endif %}
                </div>

                <div class="block">
                    {% if in_form.sensor_y.errors %}
                        {{ in_form.sensor_y.label(type="autofill") }}{{ in_form.sensor_y(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.sensor_y.label(type="autofill") }}{{ in_form.sensor_y }}
                    {% endif %}
                </div>
        
                <div class="block">
                    {% if in_form.px_size.errors %}
                        {{ in_form.px_size.label(type="autofill") }}{{ in_form.px_size(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.px_size.label(type="autofill") }}{{ in_form.px_size }}
                    {% endif %}
                </div>         
                    
                <div class="block"> 
                    {% if in_form.q_efficiency.errors %}
                        {{ in_form.q_efficiency.label(type="autofill") }}{{ in_form.q_efficiency(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.q_efficiency.label(type="autofill") }}{{ in_form.q_efficiency }}
                    {% endif %}
                </div>
                 
                <div class="block">
                    {% if in_form.read_noise.errors %}
                        {{ in_form.read_noise.label(type="autofill") }}{{ in_form.read_noise(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.read_noise.label(type="autofill") }}{{ in_form.read_noise }}
                    {% endif %}
                </div>

                <div class="block">
                    {% if in_form.gain.errors %}
                        {{ in_form.gain.label(type="autofill") }}{{ in_form.gain(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.gain.label(type="autofill") }}{{ in_form.gain }}
                    {% endif %}
                </div>

                <div class="block">
                    
                    {% if in_form.offset.errors %}
                        {{ in_form.offset.label(type="autofill") }}{{ in_form.offset(style="border-color: red;")}}
                    {% else %}
                        {{ in_form.offset.label(type="autofill") }}{{ in_form.offset }}
                    {% endif %}
                </div>  

                <div class="block">
                    {% if in_form.dark_noise.errors %}
                        {{ in_form.dark_noise.label(type="autofill") }}{{ in_form.dark_noise(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.dark_noise.label(type="autofill") }}{{ in_form.dark_noise }}
                    {% endif %}
                </div>

                <div class="block">
                    {% if in_form.full_well.errors %}
                        {{ in_form.full_well.label(type="autofill") }}{{ in_form.full_well(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.full_well.label(type="autofill") }}{{ in_form.full_well }}
                    {% endif %}
                </div>

                <div class="spacer"></div>

                <script> 
                    document.getElementById('camera').addEventListener('change', function() {

                        var presets = {{ camera_presets|tojson }};
                        var size = presets[0][1].length;

                        // I should check if there is actually anything here first
                        var preset = [size]

                        for(let i = 0; i < size; i++) { preset[i] = ''; }

                        // match the selection with a preset
                        for( let i = 0; i < presets.length; i++ ) {
                            if( presets[i][0] == document.getElementById('camera').value ) { preset = presets[i][1]; }
                        }
                       
                        // autofill the values
                        document.getElementById('sensor_x').value = preset[0];
                        document.getElementById('sensor_y').value = preset[1];
                        document.getElementById('px_size').value = preset[2];
                        document.getElementById('q_efficiency').value = preset[3];
                        document.getElementById('read_noise').value = preset[4];
                        document.getElementById('gain').value = preset[5];
                        document.getElementById('offset').value = preset[6];
                        document.getElementById('dark_noise').value = preset[7];
                        document.getElementById('full_well').value = preset[8];
                    });
                </script>

            </section>

            <!-- telescope section -->
            <section name="telescope" class="container">

                <h2 class="block">Telescope Parameters</h2> 
        
                <div class="block">
                    <!--form name="telescope" method="POST" action=""-->
                        {{ select_form.csrf_token }}{{ select_form.telescope }}
                    <!--/form-->
                </div>

                <button type="button" class="collapsible">ⓘ info</button>
                <div class="col-content">
                    <p>
                        <b>Diameter (m)</b> - Telescope diameter<br>
                        <b>Focal Length (m)</b> - Telescope focal length<br> 
                        <b>Plate Scale (arcsecond/pixel)</b> -  Arcseconds covered per pixel in the detector<br>
                    </p>
                </div>
                <div class="spacer-break"></div>


                <div class="block">
                    {% if in_form.scope_dia.errors %}
                        {{ in_form.scope_dia.label(type="autofill") }}{{ in_form.scope_dia(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.scope_dia.label(type="autofill") }}{{ in_form.scope_dia }}
                    {% endif %}
                </div>

                <div class="block">
                    {% if in_form.scope_focal.errors %}
                        {{ in_form.scope_focal.label(type="autofill") }}{{ in_form.scope_focal(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.scope_focal.label(type="autofill") }}{{ in_form.scope_focal }}
                    {% endif %}
                </div>

                <div class="block">
                    {% if in_form.plate_scale.errors %}
                        {{ in_form.plate_scale.label(type="autofill") }}{{ in_form.plate_scale(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.plate_scale.label(type="autofill") }}{{ in_form.plate_scale }}
                    {% endif %}
                </div>


                <div class="spacer"></div>

                <script> 
                    document.getElementById('telescope').addEventListener('change', function() {

                        var presets = {{ telescope_presets|tojson }};
                        var size = presets[0][1].length;

                        // I should check if there is actually anything here first
                        var preset = [size]

                        for(let i = 0; i < size; i++) { preset[i] = ''; }

                        // match the selection with a preset
                        for( let i = 0; i < presets.length; i++ ) {
                            if( presets[i][0] == document.getElementById('telescope').value ) { preset = presets[i][1]; }
                        }

                        document.getElementById('scope_dia').value = preset[0];
                        document.getElementById('scope_focal').value = preset[1];
                        document.getElementById('plate_scale').value = preset[2];
                    });
                </script>

            </section>

            <!-- filter section -->
            <section name="filter" class="container">

                <h2 class="block">Filter Parameters</h2> 
        
                <div class="block">
                    <!--form name="filter" method="POST" action=""-->
                        {{ select_form.csrf_token }}{{ select_form.filter }}
                    <!--/form-->
                </div>
                <button type="button" class="collapsible">ⓘ info</button>
                <div class="col-content">
                    <p>
                        The current filters avaiable are the ones used by the ESO's ETC<br>
                        Follow the link for more details: <a href="https://www.eso.org/observing/etc/doc/skycalc/helpskycalc.html#mags" style="color:white">ESO Website</a><br>
                    </p>

                   
                </div>
                <div class="spacer-break"></div>

            </section>


            


            <!-- source type -->

            
            <div class="tab">
                    <div class="block" style="margin:0;">
                        <button class="tablinks" type="button" onclick="Tab(event, 'target-point')" id="defaultOpen" style="border-top-left-radius:5px;">Point Source</button>
                        <button class="tablinks" type="button" onclick="Tab(event, 'target-extended')" id="defaultClose" style="border-top-right-radius:5px;">Extended Source</button> 
                        {{ in_form.source_type(readonly=true, style="display:none") }}
                    </div>
                    <div class="spacer"></div><div class="spacer"></div>
            </div>

            <!-- target-point section -->
            <section id="target-point" class="tabcontent">

                <h2 class="block">Target Parameters</h2> 

                <div class="block">
                    <!--form name="target" method="POST" action=""-->
                        {{ select_form.csrf_token }}{{ select_form.point_src }}
                    <!--/form-->
                </div>
                <button type="button" class="collapsible">ⓘ info</button>
                <div class="col-content">
                    <p>
                        <b>Diameter (m)</b> - dimension of the camera sensor, interchangeable with sensor width<br>
                        <b>Focal Length (m)</b> - dimension of the camera sensor, interchangeable with sensor length<br> 
                        <b>Plate Scale (?)</b> -  size of an individual pixel of the camera sensor<br>
                    </p>
                </div>
                <div class="spacer-break"></div>
                
              

                <div class="block">
                    {% if in_form.star_ab_mag.errors %}
                        {{ in_form.star_ab_mag.label(type="autofill") }}{{ in_form.star_ab_mag(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.star_ab_mag.label(type="autofill") }}{{ in_form.star_ab_mag }}
                    {% endif %}
                </div>

                <div class="block">
                    {% if in_form.star_temp.errors %}
                        {{ in_form.star_temp.label(type="autofill", id="star_temp_label") }}{{ in_form.star_temp(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.star_temp.label(type="autofill", id="star_temp_label") }}{{ in_form.star_temp }}
                    {% endif %}             
                </div>

               

                <div class="spacer"></div>
                
                <!--script> 
                    document.getElementById('point_src').addEventListener('change', function() {

                        var presets = {{ target_presets|tojson }};
                        var size = presets[0][1].length;
                        var preset = [size]

                        // blank by default
                        for(let i = 0; i < size; i++) { preset[i] = ''; }

                        // match the selection with a preset
                        for( let i = 0; i < presets.length; i++ ) {
                            if( presets[i][0] == document.getElementById('point_src').value ) { preset = presets[i][1]; }
                        }
                        // autofill
                        document.getElementById('star_temp').value = preset[0];

                        // display source name
                        var e = document.getElementById('point_src');
                        var text = e.options[e.selectedIndex].text;
                        document.getElementById('pickle').value = text;
                    });
                </script-->


            </section>

            <!-- target-extended section -->
            <section id="target-extended" class="tabcontent">

                <h2 class="block">Target Parameters</h2> 

                <div class="block">
                    <!--form name="target" method="POST" action=""-->
                        {{ select_form.csrf_token }}{{ select_form.extended_src }}
                    <!--/form-->
                </div>
                
                <button type="button" class="collapsible">ⓘ info</button>
                <div class="col-content">
                    <p>
                        <b>Diameter (m)</b> - dimension of the camera sensor, interchangeable with sensor width<br>
                        <b>Focal Length (m)</b> - dimension of the camera sensor, interchangeable with sensor length<br> 
                        <b>Plate Scale (arcsecond/pixel)</b> -  size of an individual pixel of the camera sensor<br>
                    </p>
                </div>

                <div class="spacer-break"></div>
                
                <div class="block">
                    {% if in_form.ext_mag.errors %}
                        {{ in_form.ext_mag.label(type="autofill") }}{{ in_form.ext_mag(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.ext_mag.label(type="autofill") }}{{ in_form.ext_mag }}
                    {% endif %}
                </div>

                


                


                <div class="spacer"></div><div class="spacer"></div>

                <!--script> 
                    document.getElementById('extended_src').addEventListener('change', function() {

                        var presets = {{ target_presets|tojson }};
                        var size = presets[0][1].length;
                        var preset = [size]

                        // blank by default
                        for(let i = 0; i < size; i++) { preset[i] = ''; }

                        // match the selection with a preset
                        for( let i = 0; i < presets.length; i++ ) {
                            if( presets[i][0] == document.getElementById('extended_src').value ) { preset = presets[i][1]; }
                        }
                        // autofill
                        document.getElementById('star_temp').value = preset[0];

                        // display source name
                        //var e = document.getElementById('extended_src');
                        //var text = e.options[e.selectedIndex].text;
                        //document.getElementById('pickle').value = text;
                    });
                </script-->
            </section>


            <!-- script for target tabs -->
            <script>
                function Tab(e, name) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(name).style.display = "flex";
                    e.currentTarget.className += " active";



                    if(name == "target-point") {

                        document.getElementById('source_type').value = "point";

                        // readonly

                        document.getElementById("ext_mag").required = false;
                        document.getElementById('ext_mag').readOnly = true;

    
                        //document.getElementById("dist").value = "   01.  ";
                        //document.getElementById('dist').readOnly = true;
                        

                        // reset
                        document.getElementById("seeing-label").style.background = "slategray";
                        document.getElementById("seeing-label").style.color = "white";
                        document.getElementById("seeing").style.background = "white";
                        document.getElementById("seeing").style.border = "white";
                        document.getElementById("seeing").style.color = "black";

                        //document.getElementById("seeing").value = document.getElementById("conditions").value;
                        document.getElementById('seeing').readOnly = false;
                        document.getElementById("seeing").value = "";
                        document.getElementById('conditions').disabled = false;


                        document.getElementById("star_temp").required = true;
                        document.getElementById('star_temp').readOnly = false;
                        
                        //document.getElementById("star_ab_mag").value = "";

                        document.getElementById('star_ab_mag').required = true;
                        document.getElementById('star_ab_mag').readOnly = false;



                        document.getElementById('point_src').disabled = false;


                        document.getElementById('extended_src').required = false;





                        // disable temperature

                        


                    }
                    else {  // extended sources

                        document.getElementById('source_type').value = "extended";

                        //readonly

                        document.getElementById("seeing-label").style.background = "lightgray";
                        document.getElementById("seeing-label").style.color = "darkgray";
                        document.getElementById("seeing").style.background = "lightgray";
                        document.getElementById("seeing").style.border = "lightgray";
                        document.getElementById("seeing").style.color = "lightgray";

                        document.getElementById("seeing").value = "   01.  ";
                        document.getElementById('seeing').readOnly = true;
                        document.getElementById('conditions').disabled = true;

                        document.getElementById('point_src').disabled = true;

             
                        document.getElementById("star_temp").required = false;
                        document.getElementById('star_temp').readOnly = true;


                        //document.getElementById("star_ab_mag").value = "   01.  ";
                        document.getElementById('star_ab_mag').required = false;
                        document.getElementById('star_ab_mag').readOnly = true;
                        

                        // reset
    
                        document.getElementById("ext_mag").required = true;
                        document.getElementById('ext_mag').readOnly = false;

                        //document.getElementById("dist").value = "";
                        //document.getElementById('dist').readOnly = false;

                        document.getElementById('extended_src').required = true;
                        
                    }
                }         

                document.getElementById("defaultOpen").click();
                
                
            </script>
            

            <!-- conditions section -->
            <section name="conditions" class="container">

                <h2 class="block">Condition Parameters</h2> 
        
                <div class="block">
                    <!--form name="conditions" method="POST" action=""-->
                        {{ select_form.csrf_token }}{{ select_form.conditions }}
                    <!--/form-->
                </div>
                <button type="button" class="collapsible">ⓘ info</button>
                <div class="col-content">
                    <p>
                        <b>Diameter (m)</b> - dimension of the camera sensor, interchangeable with sensor width<br>
                        <b>Focal Length (m)</b> - dimension of the camera sensor, interchangeable with sensor length<br> 
                        <b>Plate Scale (?)</b> -  size of an individual pixel of the camera sensor<br>
                    </p>
                </div>
                <div class="spacer-break"></div>

                <div class="block">
                    {% if in_form.seeing.errors %}
                        {{ in_form.seeing.label(type="autofill", id="seeing-label") }}{{ in_form.seeing(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.seeing.label(type="autofill", id="seeing-label") }}{{ in_form.seeing }}
                    {% endif %}
                </div>


                <div class="block">
                    {% if in_form.sqm.errors %}
                        {{ in_form.sqm.label(type="autofill") }}{{ in_form.sqm(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.sqm.label(type="autofill") }}{{ in_form.sqm }}
                    {% endif %}
                </div>
        
                <div class="block">
                    <!-- GAO autofill button -->
                    <input type="radio" id="sky_bright">Fill from GAO<br>
                </div>
                <div class="spacer"></div>
           
                <script> 
                    document.getElementById('conditions').addEventListener('change', function() {

                        var selectedOption = this.value;
                        document.getElementById('seeing').value = selectedOption;
                    });
                </script>

                <script> 
                    document.getElementById('sky_bright').addEventListener('change', function() {

                        var option = {{ gao_sqm|tojson }}
                        document.getElementById('sqm').value = option;
                    });
                </script>

            </section>

            <!-- SNR section -->
            <section name="snr" class="container">

                <h2 class="block">Signal to Noise</h2>
                <!--div class="spacer"></div-->

                <div class="block">
                    <!--form name="target" method="POST" action=""-->
                        {{ select_form.csrf_token }}{{ select_form.suggested_snr }}
                    <!--/form-->
                </div>

                <button type="button" class="collapsible">ⓘ info</button>
                <div class="col-content">
                    <p>
                        <b>Diameter (m)</b> - dimension of the camera sensor, interchangeable with sensor width<br>
                        <b>Focal Length (m)</b> - dimension of the camera sensor, interchangeable with sensor length<br> 
                        <b>Plate Scale (?)</b> -  size of an individual pixel of the camera sensor<br>
                    </p>
                </div>
                <div class="spacer-break"></div>

                

                <div class="block">

                    {% if in_form.desired_snr.errors %}
                        {{ in_form.desired_snr.label(type="autofill") }}{{ in_form.desired_snr(style="border-color: red;") }}
                    {% else %}
                        {{ in_form.desired_snr.label(type="autofill") }}{{ in_form.desired_snr }}
                    {% endif %}

                </div><div class="spacer"></div><div class="spacer"></div>


                <script> 
                    document.getElementById('suggested_snr').addEventListener('change', function() {

                        var selectedOption = this.value;
                        document.getElementById('desired_snr').value = selectedOption;
                    });
                </script>


            </section>  

            <!-- submit form -->
            <section id="submission" class="container">
                {{ in_form.submit(id="go", style="background-color: teal") }} 


            

                  <div class="spacer-break"></div>
                  
                  <progress id="progress-bar" style="display:none"></progress>


                  <!--script type="text/javascript" src="{{ url_for('static', filename='scripts/resetPage.js') }}"></script-->
                  

                  <!--script>


                    //document.getElementById('input-form').addEventListener("submit", (event) => {
                        //document.getElementById('progress-bar').style.display = "block";
                        //document.getElementById('progress-bar').value = "70";
                    //});




                    document.getElementById('go').addEventListener("click", show);

                    function show() {

                        
                        document.getElementById('progress-bar').style.display = "block";

                        let currentValue = 0;

                        const incrementInterval = setInterval(() => {
                            currentValue += 0.01;
                            document.getElementById('progress-bar').value = currentValue;

                            if (currentValue >= 100) {
                                clearInterval(incrementInterval);
                            }
                        }, 100);
                    }

                  </script-->

                <!--div id="myProgress">
                    <div id="myBar"></div>
                </div-->    

            </section>

            
          

            


            <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;
                
                for (i = 0; i < coll.length; i++) {
                  coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight){
                      content.style.maxHeight = null;
                    } else {
                      content.style.maxHeight = content.scrollHeight + "px";
                    } 
                  });
                }
            </script>
            
        </form>        



        <section style="text-align: center">
            <form class="button" id="clear_all" method = "GET", action="">
                <input type="submit" value="Reset" style="background-color: maroon">
            </form>
        </section>

   

        <!--script>

            document.getElementById('go').addEventListener("click", move);

            var i = 0;
            function move() {
              if (i == 0) {
                i = 1;
                var elem = document.getElementById("myBar");
                var width = 1;
                var id = setInterval(frame, 10);
                function frame() {
                  if (width >= 100) {
                    clearInterval(id);
                    i = 0;
                  } else {
                    width++;
                    elem.style.width = width + "%";
                  }
                }
              }
              document.getElementById("myBar").style.width = 0 + "%";
            }


            </script-->




        <!--script type="text/javascript" src="{{ url_for('static', filename='tablinks.js') }}"></script-->

        <script type="text/javascript" src="{{ url_for('static', filename='scripts/tempToggle.js') }}"></script>


        
        

    </div>



{% endblock input %}