<!DOCTYPE html>

<head>

    <title>Glenlea ETC</title>

</head>



<h1>Hello World!<h1> 





 <!--https://github.com/amrrs/html-forms-pyscript/blob/main/index.html-->
<form onsubmit="return false">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="Ethan Hunt"><br>

    <select name="countries" id="countries">
        <option value="India">India</option>
        <option value="Germany">Germany</option>
        <option value="Netherlands">Netherlands</option>
    </select>


</form> 