{% block output %}

<h1>Calculation Results</h1>


<section>
    <h2>Exposure Time</h2>
    <p>The calculated exposure time is {{exposure}} seconds </p>
</section>

<section>
    <h2>Plot Light Curve</h2>
    <p> The field of view area is {{fov}} arcseconds</p>
    <p> The sensor reports {{counts}} counts per second from the star *FIX*</p>
    <img src={{SB_url}} style="left-margin:25px;">
</section>

<section>
    <h2>Aperture for Calculating SNR</h2>
    <p> The peak number of counts in the simulated image is: {{peak}} </p>
    <p> The minimum number of counts in the simulated image is: {{minimum}} </p>
    <img src={{counts_url}} style="left-margin:25px;">
</section>


<!-- reset button -->
<section>
    <form class="button" id="clear_all" method = "GET", action="">
        <input type="submit" value="Reset" style="background-color: maroon">
    </form>
</section>

{% endblock output %}

{% include "input.html" %}