body {
  background-color: rgb(34, 34, 34);
  font-family: helvetica;
}

section {

  background-color: rgb(70, 70, 70);
  margin: 25px 200px;
  padding: 10px 5px;
  border: 2px slategray;
  border-radius: 5px;
}

form {
  /* margin-left: 25px;
  margin-right: 25px; */

  /* display: table; */
  color: white;
  /* margin: 25px 150px; */
  /* background-color: red;
  border: 2px green; */
}



h1 {
  margin-top: 75px;
  margin-left: 200px;
  color: white;
  /* font: helvetica; */

}
h2 {
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}





select {
  margin-left: 25px;
  margin-right: 25px;
  color: black;
}

span {

  /* align-self: middle; */

  /* width: 0px; */

  display: block; 
  width: 100px;  
  height: 10px;  
  display: inline-block; 
  
  

  background-color: slategray;
  margin: 5px 0px 0px 25px;
  padding: 10px 50px;
  border: 2px slategray;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}



label:not([type]) {
  margin: 5px 0px 0px 25px;
  padding: 10px 10px;
  width: 150px;  
  height: 20px;
  display: inline-block;

  text-align: center;
  background-color: slategray;
  border: 2px slategray;
  border-radius: 5px;
  color: white;
}
label[type="autofill"] {
  
  margin: 10px 0px 10px 25px;
  padding: 10px 10px;
  width: 160px;  
  height: 20px;
  display: inline-block;

  text-align: center;
  /* font-size: large; */

  
  background-color: slategray;
  border: 2px slategray;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
}

input {
  margin: 10px 0px;
  width: 120px;
  height: 40px;
  border: 2px solid white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  text-align: center;

  color: black;
}
input[type="submit"] {
  
  margin: 5px 0px 0px 25px;
  padding: 10px 10px;
  text-align: center;
  background-color: darkorange;
  border: 2px orange;
  border-radius: 5px;
  color: white;
  font-size: large;
}

select {

  /* width: 150px;  
  height: 200px; */
  padding: 100px 100px;
  /* display: inline-block; */
}