body {
  background-color: rgb(34, 34, 34);
}

section {
  background-color: rgb(70, 70, 70);
  margin: 25px 150px;
  padding: 5px 5px;
  border: 2px slategray;
  border-radius: 5px;
}

form {
  /* margin-left: 25px;
  margin-right: 25px; */

  /* display: table; */
  color: white;
}
input {
  margin: 5px 5px;
  padding: 10px 10px;

  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  color: gray;
}


h1 {
  margin-top: 75px;
  margin-left: 150px;
  color: white;
  /* font: helvetica; */

}
h2 {
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

label {
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}



select {
  margin-left: 25px;
  margin-right: 25px;
  color: black;
}

span {
  background-color: slategray;
  margin: 5px 5px;
  padding: 10px 20px;
  border: 2px slategray;
  border-radius: 5px;
}