body {
  background-color: rgb(34, 34, 34);
}

section {
  background-color: rgb(70, 70, 70);
  margin: 25px 150px;
  padding: 5px 5px;
  border: 2px slategray;
  border-radius: 5px;
}

form {
  /* margin-left: 25px;
  margin-right: 25px; */

  /* display: table; */
  color: white;
}
input {
  
  margin: 5px 0px;
  padding: 13px 0px 11px 0px;
 
  border: 2px gray;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  /* border-radius: 5px; */
  text-align: center;
  color: black;
}


h1 {
  margin-top: 75px;
  margin-left: 150px;
  color: white;
  /* font: helvetica; */

}
h2 {
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

label {
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}



select {
  margin-left: 25px;
  margin-right: 25px;
  color: black;
}

span {
  background-color: slategray;
  margin: 5px 0px 0px 25px;
  padding: 10px 20px;
  border: 2px slategray;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}